@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-1: hsl(355, 73%, 61%);
  --color-primary-2: hsl(338, 52%, 42%);
  --color-secondary-1: hsl(222, 22%, 25%);
  --color-secondary-2: hsl(222, 34%, 42%);
  --color-secondary-3: hsl(225, 24%, 90%);
  --color-light: hsl(22, 100%, 76%);  
}

body {
  background: var(--foreground);
  color: var(--background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
